doctype html
html
  head
    meta(charset="utf-8")
    script(src='/js/modal.js')
    block title
      title Little Design Ninja
    block css
      link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    header
      div.wrapper
        a(href="/")
          img.logo(src="/images/logo.png" alt="little design ninja logo")
        nav
          ul
            li 
              a(href="#" onclick="dropdown()") Tutorials
              ul(id='dropdown')
                li 
                  a(href="/tutorials") Illustrator
                li 
                  a(href="/tutorials") Indesign
                li 
                  a(href="/tutorials") Photoshop
                li 
                  a(href="/tutorials") HTML/CSS
                li
                  a(href="#" onclick="dropdown(); request()") Request
            li
              a(href="#") Articles
        form

          input(type='text' placeholder='search...' name='search')
        if user
          a(href="/profile" name='login') #{user.username}
        else
          a(href='#' name='login' onclick='overlay()') Login / Sign-up
    block content