extends ./header.jade

block title
  title Little Design Ninja | Home
block content
  div.spacer
  section.ninjas
    div.wrapper
      figure
        a(href='/tutorials.html')
          img(src='/images/ninja-ai.png')
          figcaption Illustrator
      figure
        a(href='/tutorials.html')
          img(src='/images/ninja-id.png')
          figcaption Indesign
      figure
        a(href='/tutorials.html')
          img(src='/images/ninja-ps.png')
          figcaption Photoshop
      figure
        a(href='/tutorials.html')
          img(src='/images/ninja-wb.png')
          figcaption HTML/CSS
  div.spacer
  section.videos
    div.wrapper
      h2 Recently Added
      div.video
        img(src='/images/thumb.png' alt='thumbnail')
        div
          p title
          p author | timestamp
          p description
      div.video
        img(src='/images/thumb.png' alt='thumbnail')
        div
          p title
          p author | timestamp
          p description
      div.video
        img(src='/images/thumb.png' alt='thumbnail')
        div
          p title
          p author | timestamp
          p description
      div.video
        img(src='/images/thumb.png' alt='thumbnail')
        div
          p title
          p author | timestamp
          p description
      div.clear
  div.spacer
  include ./foot.jade

