extends includes/header

block title
  title Little Design Ninja | Home
block content
  div.spacer
  section.ninjas
    div.wrapper
      figure
        a(href='/tutorials')
          img(src='/images/ninja-ai.png')
          figcaption Illustrator
      figure
        a(href='/tutorials')
          img(src='/images/ninja-id.png')
          figcaption Indesign
      figure
        a(href='/tutorials')
          img(src='/images/ninja-ps.png')
          figcaption Photoshop
      figure
        a(href='/tutorials')
          img(src='/images/ninja-wb.png')
          figcaption HTML/CSS
  div.spacer
  section.videos
    div.wrapper
      h2 Recently Added
      if videos.length > 0
        - for (var i = 0; i < 4; i++)
          div.video
            a(href="/videos/" + videos[i].id)
              img(src='/images/thumb.png' alt='thumbnail')
            div
              p #{videos[i].title}
              p #{videos[i].author} | #{videos[i].duration}
              p #{videos[i].description}
      div.clear
  div.spacer
  include includes/foot

