extends ./header.jade

block title
	title Little Design Ninja | Tutorials
block content
	section.main
		div.wrapper
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			figure
				img(src='' alt='video')
				figcaption description
				p title
				p length
				img(src='' alt='favorite icon')
			div.clear




	include ./foot.jade